.aaaccc{
    width: 300px;
    height: 20px;
    background-color: #a94442;
}
 #keyboard{
              position: relative;
              top: 8px;
          }
 .input_submit{
              position: relative;
              top: 8px;
              background: #303030;
              color: #fff;
              border-radius: 5px;
          }