{% extends 'web/base.html' %}
{% block content %}
{#           <div class="col-sm-8 blog-main">#}

       {% for article in article_list %}
             <article class="excerpt">
            <div class="focus">
                <img src="{{ article.img }}" alt="{{ article.title }}" title="{{ article.img }}"/>
            </div>
            <header>
              <h3>
{#                <a href="/web/article/?title={{ article.title }}" title="[详细教程]如何购买域名和虚拟服务器。" >{{ article.title }}</a></h3>#}
                  <a href="{{ url_for('web.article',title=article.title) }}" title="{{ article.title }}" >{{ article.title }}</a></h3>

            </header>
            <p class="note"  style="overflow: hidden;width:470px;height:50px; ">{{ article.content |striptags }}</p>
            <p style="margin-top:40px;">
              <span class="muted">
                <span class="glyphicon glyphicon-user"></span> {{ user.username }} </span>
              <span class="muted">
                <span class="glyphicon glyphicon-time"></span> {{ article.date }}</span>
              <span class="muted">
                <span class="glyphicon glyphicon-eye-open"></span>  928次浏览</span>
             <span class="muted">个人博客：[<a href='/xx/'>{{ article.c.c_name }}</a>]</span>

            </p>
          </article>
       {% endfor %}
           <div class="pagenavi clearfix">
            <div class="pages">
            <li><a href="/web/{{ title }}/1/">首页</a></li>
{#        <li><a href='/web/index/{{ page }}'>上一页</a></li>#}
                {% for page in range(1,count_page) %}
                     <li {% if page_now==loop.index %}
                           class="thisclass"
                     {% endif %}><a href='/web/{{ title }}/{{ loop.index }}'>{{ page }}</a></li>
                {% endfor %}



{#        <li class="thisclass"><a>2</a></li>#}
{#        <li><a href='list_25_3.html'>3</a></li>#}
{#        <li><a href='list_25_3.html'>下一页</a></li>#}
            <li><a href="/web/{{ title }}/{{ count_page-1 }}/">尾页</a></li>
        <li><span class="pageinfo">共 <strong>{{ count_page-1 }}</strong>页<strong>{{ all_article }}</strong>条</span></li>

            </div>
          </div>







{% endblock %}